################################################################################
## ~/.aws/credentials
##
## Sources:
## - https://docs.aws.amazon.com/cli/latest/userguide/cli-configure-files.html
################################################################################

{{- /* Check the commented content of the result of `chezmoi diff` */}}
{{-    $debug := false }}

{{- /*
     * Compute or set default values for this file. Add yours here.
     * I just find nice to have them handy here and reference them later, and
     * setting them one per line feels more readable than a convoluted,
     * all-in-one dict definition (I tried).
     */}}

{{-    $awsCredentialsDefaults := dict }}
{{-    $_ := set $awsCredentialsDefaults "default" dict }}

{{-    if $debug }}
{{       "aws credentials defaults:" | comment "# " }}
{{       $awsCredentialsDefaults | toYaml | indent 4 | comment "# " }}
{{-    end }}

{{- /* Start from the defaults. */}}

{{-    $config := dict }}
{{-    $configFromFile := include $.chezmoi.configFile | fromYaml }}
{{-    $_ := mustMergeOverwrite $config $configFromFile }}

{{-    if $debug }}
{{       "merged with config file" | comment "# " }}
{{       "config:" | comment "# " }}
{{       $config | toYaml | indent 4 | comment "# " }}
{{-    end }}

{{-    $baseConfig := $awsCredentialsDefaults }}

{{- /*
     * Host-specific additions and overrides.
     * --------------------------------------
     */}}

{{- $hostCredentialsFiles := list
     (joinPath $config.data.hostDir ".aws" "credentials.tmpl")
     (joinPath $config.data.hostDir ".aws" "credentials") }}
{{- $hostEncryptedCredentialsFiles := list
     (joinPath $config.data.encryptedHostDir ".aws" (print "credentials.tmpl" (dig "age" "suffix" ".age" $config)))
     (joinPath $config.data.encryptedHostDir ".aws" (print "credentials.tmpl" (dig "gpg" "suffix" ".asc" $config)))
     (joinPath $config.data.encryptedHostDir ".aws" (print "credentials" (dig "age" "suffix" ".age" $config)))
     (joinPath $config.data.encryptedHostDir ".aws" (print "credentials" (dig "gpg" "suffix" ".asc" $config))) }}
{{- includeTemplate "_host-overlay_merge.tmpl" (dict
     "chezmoi" $.chezmoi
     "config" $config
     "baseConfig" $baseConfig
     "hostPlainFiles" $hostCredentialsFiles
     "hostEncryptedFiles" $hostEncryptedCredentialsFiles
     "format" "ini"
     "omitKeys" (list "DEFAULT")
     "debug" $debug
   ) }}
