CanonicalizeHostname  yes
CanonicalDomains      lan local

ControlMaster   auto
ControlPath     ~/.ssh/control-%C
ControlPersist  30s

Host  omnia turris
	User  root

Host  pi* raspberrypi*
	User  pi
