################################################################################
## .gitignore
################################################################################

# IDE files.
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# Data files are plain, non-templatable files.
# Used here to store static data local to the executing host only.
.chezmoidata.json
.chezmoidata.toml
.chezmoidata.yaml

# Host-specific files.
# This is not the place to store them.
.hosts/
**localOnly_**
