################################################################################
## ~/.inputrc
##
## Control the behavior of the readline library, used e.g. by Bash in its
## interactive mode for line editing.
##
## This file is NOT used by ZSH.
################################################################################

{{- /* Check the commented content of the result of `chezmoi diff` */}}
{{-    $debug := false }}

{{- /*
     * Compute or set default values for this file. Add yours here.
     * I just find nice to have them handy here and reference them later, and
     * setting them one per line feels more readable than a convoluted,
     * all-in-one dict definition (I tried).
     */}}

{{-    $defaults := dict }}
{{-    $_ := set $defaults "data" dict }}

{{-    if $debug }}
{{       "defaults:" | comment "# " }}
{{       $defaults | toYaml | indent 4 | comment "# " }}
{{-    end }}

{{- /*
     * Start from the defaults and overwrite them with the existing
     * configuration from the configuration file.
     */}}

{{-    $config := $defaults }}

{{-    $configFromFile := include $.chezmoi.configFile | fromYaml }}
{{-    $_ := mustMergeOverwrite $config $configFromFile }}

{{-    if $debug }}
{{       "merged with config file" | comment "# " }}
{{       "config:" | comment "# " }}
{{       $config | toYaml | indent 4 | comment "# " }}
{{-    end }}

# The bell style used e.g. on error or tab completion, possible values
# are `none', `visible', and `audible' the ringing the bell.
# set bell-style none

# If set to on, words which have more than one possible completion without
# any possible partial completion cause the matches to be listed immediately
# instead of ringing the bell.
# set show-all-if-unmodified on

# If set to on, words which have more than one possible completion cause the
# matches to be listed immediately instead of ringing the bell.
# set show-all-if-ambiguous on

# If set to on, disable case sensitivity for completion purposes.
set completion-ignore-case on


{{- /*
     * Host-specific additions and overrides.
     * --------------------------------------
     */}}

{{- $hostInputrcFiles := list
     (joinPath $config.data.hostDir ".inputrc.tmpl")
     (joinPath $config.data.hostDir ".inputrc") }}
{{- $hostEncryptedInputrcFiles := list
     (joinPath $config.data.encryptedHostDir (print ".inputrc.tmpl" (dig "age" "suffix" ".age" $config)))
     (joinPath $config.data.encryptedHostDir (print ".inputrc.tmpl" (dig "gpg" "suffix" ".asc" $config)))
     (joinPath $config.data.encryptedHostDir (print ".inputrc" (dig "age" "suffix" ".age" $config)))
     (joinPath $config.data.encryptedHostDir (print ".inputrc" (dig "gpg" "suffix" ".asc" $config))) }}
{{- includeTemplate "_host-overlay_plaintext.tmpl" (dict
     "chezmoi" $.chezmoi
     "config" $config
     "hostPlainFiles" $hostInputrcFiles
     "hostEncryptedFiles" $hostEncryptedInputrcFiles
     "debug" $debug
   ) }}
