################################################################################
## ~/.tmux.conf
################################################################################

# Tmux behavior.
set -g history-limit 100000   # scrollback size
set -g mouse on               # enable mouse control (clickable windows, panes, resizable panes)
set -g xterm-keys on

# Tmux visuals.
set -g default-terminal "screen-256color"
set -g status-right '#H %Y-%m-%d %H:%M'

# Window visuals.
set -g renumber-windows on                 # renumber windows when one is closed
set -g set-titles on                       # set the terminal's title
set-window-option -g automatic-rename on   # rename a window to the current program
# set-window-option -g window-status-current-style 'bg=red dim'   # highlight the active window

# Activity monitor.
set -g monitor-activity on   # highlight a window's tab when it has activity
set -g visual-activity on    # notify of a window's activity in the status bar
