{{- /* Check the commented content of the result of `chezmoi diff` */}}
{{-    $debug := false }}

{{-    $defaults := dict }}
{{-    $_ := set $defaults "data" dict }}

{{-    $config := $defaults }}
{{-    $configFromFile := include $.chezmoi.configFile | fromYaml }}
{{-    $_ := mustMergeOverwrite $config $configFromFile }}

{{- /*
     * Start from the defaults and overwrite them with the existing
     * configuration from the configuration file.
     */}}

{{-    $baseConfig := includeTemplate "opencode/opencode.json" . | fromJson }}

{{-    if $debug }}
{{       "base settings:" | comment "# " }}
{{       $baseConfig | toJson | comment "# " }}
{{-    end }}


{{- /*
     * Host-specific additions and overrides.
     * --------------------------------------
     */}}

{{- $hostSettingsFiles := list
     (joinPath $config.data.hostDir ".config" "opencode" "opencode.json.tmpl")
     (joinPath $config.data.hostDir ".config" "opencode" "opencode.json") }}
{{- $hostEncryptedSettingsFiles := list
     (joinPath $config.data.encryptedHostDir ".config" "opencode" (print "opencode.json.tmpl" (dig "age" "suffix" ".age" $config)))
     (joinPath $config.data.encryptedHostDir ".config" "opencode" (print "opencode.json.tmpl" (dig "gpg" "suffix" ".asc" $config)))
     (joinPath $config.data.encryptedHostDir ".config" "opencode" (print "opencode.json" (dig "age" "suffix" ".age" $config)))
     (joinPath $config.data.encryptedHostDir ".config" "opencode" (print "opencode.json" (dig "gpg" "suffix" ".asc" $config))) }}
{{- includeTemplate "_host-overlay_merge.tmpl" (dict
     "chezmoi" $.chezmoi
     "config" $config
     "baseConfig" $baseConfig
     "hostPlainFiles" $hostSettingsFiles
     "hostEncryptedFiles" $hostEncryptedSettingsFiles
     "format" "json"
     "debug" $debug
   ) -}}
