{{- /* Check the commented content of the result of `chezmoi diff` */}}
{{-    $debug := false }}

{{- /*
     * Compute or set default values for this file. Add yours here.
     * I just find nice to have them handy here and reference them later, and
     * setting them one per line feels more readable than a convoluted,
     * all-in-one dict definition (I tried).
     */}}

{{-    $defaults := dict }}
{{-    $_ := set $defaults "data" dict }}

{{-    if $debug }}
{{       "defaults:" | comment "# " }}
{{       $defaults | toYaml | indent 4 | comment "# " }}
{{-    end }}

{{- /*
     * Start from the defaults and overwrite them with the existing
     * configuration from the configuration file.
     */}}

{{-    $config := $defaults }}

{{-    $configFromFile := include $.chezmoi.configFile | fromYaml }}
{{-    $_ := mustMergeOverwrite $config $configFromFile }}

{{-    if $debug }}
{{       "merged with config file" | comment "# " }}
{{       "config:" | comment "# " }}
{{       $config | toYaml | indent 4 | comment "# " }}
{{-    end -}}

# Refer <https://asdf-vm.com/guide/getting-started.html>.

# ASDF configuration code
if test -z $ASDF_DATA_DIR
    set _asdf_shims "$HOME/.asdf/shims"
else
    set _asdf_shims "$ASDF_DATA_DIR/shims"
end

# Do not use fish_add_path (added in Fish 3.2) because it
# potentially changes the order of items in PATH
if not contains $_asdf_shims $PATH
    set -gx --prepend PATH $_asdf_shims
end
set --erase _asdf_shims


{{-    $hostFiles := list
         (joinPath $config.data.hostDir ".config" "fish" "conf.d" "20_asdf.fish.tmpl")
         (joinPath $config.data.hostDir ".config" "fish" "conf.d" "20_asdf.fish") }}
{{-    $hostEncryptedFiles := list
         (joinPath $config.data.encryptedHostDir ".config" "fish" "conf.d" (print "asdf.fish.tmpl" (dig "age" "suffix" ".age" $config)))
         (joinPath $config.data.encryptedHostDir ".config" "fish" "conf.d" (print "asdf.fish.tmpl" (dig "gpg" "suffix" ".asc" $config)))
         (joinPath $config.data.encryptedHostDir ".config" "fish" "conf.d" (print "asdf.fish" (dig "age" "suffix" ".age" $config)))
         (joinPath $config.data.encryptedHostDir ".config" "fish" "conf.d" (print "asdf.fish" (dig "gpg" "suffix" ".asc" $config))) }}
{{-    includeTemplate "_host-overlay_plaintext.tmpl" (dict
         "chezmoi" $.chezmoi
         "config" $config
         "hostPlainFiles" $hostFiles
         "hostEncryptedFiles" $hostEncryptedFiles
         "debug" $debug
       ) }}
