{{- /* Check the commented content of the result of `chezmoi diff` */}}
{{-    $debug := false }}

{{-    $defaults := dict }}
{{-    $_ := set $defaults "data" dict }}

{{-    if $debug }}
{{       "defaults:" | comment "# " }}
{{       $defaults | toYaml | indent 4 | comment "# " }}
{{-    end }}

{{-    $config := $defaults }}

{{-    $configFromFile := include $.chezmoi.configFile | fromYaml }}
{{-    $_ := mustMergeOverwrite $config $configFromFile }}

{{-    if $debug }}
{{       "merged with config file" | comment "# " }}
{{       "config:" | comment "# " }}
{{       $config | toYaml | indent 4 | comment "# " }}
{{-    end }}


{{- /*
     * Host-specific Grafana environment variables.
     * This file has no shared base content — everything lives in the host file.
     */}}


{{-    $hostFiles := list
         (joinPath $config.data.hostDir ".config" "fish" "conf.d" "grafana.fish.tmpl")
         (joinPath $config.data.hostDir ".config" "fish" "conf.d" "grafana.fish") }}
{{-    $hostEncryptedFiles := list
         (joinPath $config.data.encryptedHostDir ".config" "fish" "conf.d" (print "grafana.fish.tmpl" (dig "age" "suffix" ".age" $config)))
         (joinPath $config.data.encryptedHostDir ".config" "fish" "conf.d" (print "grafana.fish.tmpl" (dig "gpg" "suffix" ".asc" $config)))
         (joinPath $config.data.encryptedHostDir ".config" "fish" "conf.d" (print "grafana.fish" (dig "age" "suffix" ".age" $config)))
         (joinPath $config.data.encryptedHostDir ".config" "fish" "conf.d" (print "grafana.fish" (dig "gpg" "suffix" ".asc" $config))) }}
{{-    includeTemplate "_host-overlay_plaintext.tmpl" (dict
         "chezmoi" $.chezmoi
         "config" $config
         "hostPlainFiles" $hostFiles
         "hostEncryptedFiles" $hostEncryptedFiles
         "debug" $debug
       ) }}
