################################################################################
## ~/.azure/config
##
## Sources:
## - https://learn.microsoft.com/en-us/cli/azure/azure-cli-configuration
################################################################################

{{- /* Check the commented content of the result of `chezmoi diff` */}}
{{-    $debug := false }}

{{- /*
     * Compute or set default values for this file. Add yours here.
     * I just find nice to have them handy here and reference them later, and
     * setting them one per line feels more readable than a convoluted,
     * all-in-one dict definition (I tried).
     */}}

{{-    $azureConfigDefaults := dict }}
{{-    $_ := set $azureConfigDefaults "cloud" dict }}
{{-    $_ := set $azureConfigDefaults.cloud "name" "AzureCloud" }}

{{-    if $debug }}
{{       "azure config defaults:" | comment "# " }}
{{       $azureConfigDefaults | toYaml | indent 4 | comment "# " }}
{{-    end }}

{{- /* Start from the defaults. */}}

{{-    $config := dict }}
{{-    $configFromFile := include $.chezmoi.configFile | fromYaml }}
{{-    $_ := mustMergeOverwrite $config $configFromFile }}

{{-    if $debug }}
{{       "merged with config file" | comment "# " }}
{{       "config:" | comment "# " }}
{{       $config | toYaml | indent 4 | comment "# " }}
{{-    end }}

{{-    $baseConfig := $azureConfigDefaults }}

{{- /*
     * Host-specific additions and overrides.
     * --------------------------------------
     */}}

{{- $hostAzureConfigFiles := list
     (joinPath $config.data.hostDir ".azure" "config.tmpl")
     (joinPath $config.data.hostDir ".azure" "config") }}
{{- $hostEncryptedAzureConfigFiles := list
     (joinPath $config.data.encryptedHostDir ".azure" (print "config.tmpl" (dig "age" "suffix" ".age" $config)))
     (joinPath $config.data.encryptedHostDir ".azure" (print "config.tmpl" (dig "gpg" "suffix" ".asc" $config)))
     (joinPath $config.data.encryptedHostDir ".azure" (print "config" (dig "age" "suffix" ".age" $config)))
     (joinPath $config.data.encryptedHostDir ".azure" (print "config" (dig "gpg" "suffix" ".asc" $config))) }}
{{- includeTemplate "_host-overlay_merge.tmpl" (dict
     "chezmoi" $.chezmoi
     "config" $config
     "baseConfig" $baseConfig
     "hostPlainFiles" $hostAzureConfigFiles
     "hostEncryptedFiles" $hostEncryptedAzureConfigFiles
     "format" "ini"
     "omitKeys" (list "DEFAULT")
     "debug" $debug
   ) }}
