################################################################################
## ~/.tmux.conf
## ~/.config/tmux/tmux.conf
##
## set -g configures all tmux components
## set -s configures the server
## set -w configures windows
################################################################################

{{- /* Check the commented content of the result of `chezmoi diff` */}}
{{-    $debug := false }}

{{- /*
     * Compute or set default values for this file. Add yours here.
     * I just find nice to have them handy here and reference them later, and
     * setting them one per line feels more readable than a convoluted,
     * all-in-one dict definition (I tried).
     */}}

{{-    $defaults := dict }}
{{-    $_ := set $defaults "data" dict }}

{{-    if $debug }}
{{       "defaults:" | comment "# " }}
{{       $defaults | toYaml | indent 4 | comment "# " }}
{{-    end }}

{{- /*
     * Start from the defaults and overwrite them with the existing
     * configuration from the configuration file.
     */}}

{{-    $config := $defaults }}

{{-    $configFromFile := include $.chezmoi.configFile | fromYaml }}
{{-    $_ := mustMergeOverwrite $config $configFromFile }}

{{-    if $debug }}
{{       "merged with config file" | comment "# " }}
{{       "config:" | comment "# " }}
{{       $config | toYaml | indent 4 | comment "# " }}
{{-    end }}

###
# Tmux behavior
#################

# reload the configuration with super-r without restarting tmux
bind r source-file ~/.config/tmux/tmux.conf \; display "Config reloaded!"

# increase key repetition speed
set -s escape-time 0

# increase scrollback buffer
set -g history-limit 100000

# enable mouse control (clickable windows, panes, resizable panes)
set -g mouse on


###
# Tmux visuals
#################

set -g default-terminal "tmux-256color"
set -g status-right '#H %Y-%m-%d %H:%M'


###
# Window visuals
##################

# renumber windows when one is closed
set -g renumber-windows on

# set the terminals' title
set -g set-titles on

# rename a window to the current program
set -wg automatic-rename on

# dim inactive window tabs
set -wg window-status-style 'dim'

# highlight the active window's tab
set -wg window-status-current-style 'italics'

# slightly lighter background for inactive panes
set -wg window-style 'bg=#333333,fg=#a0a0a0'

# active pane keeps the true terminal background
set -wg window-active-style 'bg=terminal,fg=terminal'

# Pane border colors
set -g pane-border-style 'fg=#555555'
set -g pane-active-border-style 'fg=green'


###
# Activity monitor
####################

# highlight a window's tab when it has activity
set -g monitor-activity on

# notify of a window's activity in the status bar
set -g visual-activity on


###
# User preferences
####################

# split panes using '|' and '-'
# more intuitive than '%' and '"'
bind | split-window -h
bind - split-window -v
unbind '"'
unbind %

# switch panes with `alt+arrow` (no prefix needed)
bind -n M-Left select-pane -L
bind -n M-Right select-pane -R
bind -n M-Up select-pane -U
bind -n M-Down select-pane -D


{{- /*
     * Host-specific additions and overrides.
     * --------------------------------------
     */}}

{{- $hostTmuxConfFiles := list
     (joinPath $config.data.hostDir ".tmux.conf.tmpl")
     (joinPath $config.data.hostDir ".tmux.conf") }}
{{- $hostEncryptedTmuxConfFiles := list
     (joinPath $config.data.encryptedHostDir (print ".tmux.conf.tmpl" (dig "age" "suffix" ".age" $config)))
     (joinPath $config.data.encryptedHostDir (print ".tmux.conf.tmpl" (dig "gpg" "suffix" ".asc" $config)))
     (joinPath $config.data.encryptedHostDir (print ".tmux.conf" (dig "age" "suffix" ".age" $config)))
     (joinPath $config.data.encryptedHostDir (print ".tmux.conf" (dig "gpg" "suffix" ".asc" $config))) }}
{{- includeTemplate "_host-overlay_plaintext.tmpl" (dict
     "chezmoi" $.chezmoi
     "config" $config
     "hostPlainFiles" $hostTmuxConfFiles
     "hostEncryptedFiles" $hostEncryptedTmuxConfFiles
     "debug" $debug
   ) }}
