################################################################################
## ~/.config/pip/pip.conf
##
## Sources:
## - https://pip.pypa.io/en/stable/topics/configuration/
################################################################################

{{- /* Check the commented content of the result of `chezmoi diff` */}}
{{-    $debug := false }}

{{- /*
     * Compute or set default values for this file. Add yours here.
     * I just find nice to have them handy here and reference them later, and
     * setting them one per line feels more readable than a convoluted,
     * all-in-one dict definition (I tried).
     */}}

{{-    $pipConfigDefaults := dict }}

{{-    if $debug }}
{{       "pip config defaults:" | comment "# " }}
{{       $pipConfigDefaults | toIni | indent 4 | comment "# " }}
{{-    end }}

{{- /* Start from the defaults. */}}

{{-    $config := dict }}
{{-    $configFromFile := include $.chezmoi.configFile | fromYaml }}
{{-    $_ := mustMergeOverwrite $config $configFromFile }}

{{-    if $debug }}
{{       "merged with config file" | comment "# " }}
{{       "config:" | comment "# " }}
{{       $config | toIni | indent 4 | comment "# " }}
{{-    end }}

{{-    $baseConfig := $pipConfigDefaults }}

{{- /*
     * Host-specific additions and overrides.
     * --------------------------------------
     */}}

{{- $hostPipConfigFiles := list
     (joinPath $config.data.hostDir ".config" "pip" "pip.conf.tmpl")
     (joinPath $config.data.hostDir ".config" "pip" "pip.conf") }}
{{- $hostEncryptedPipConfigFiles := list
     (joinPath $config.data.encryptedHostDir ".config" "pip" (print "pip.conf.tmpl" (dig "age" "suffix" ".age" $config)))
     (joinPath $config.data.encryptedHostDir ".config" "pip" (print "pip.conf.tmpl" (dig "gpg" "suffix" ".asc" $config)))
     (joinPath $config.data.encryptedHostDir ".config" "pip" (print "pip.conf" (dig "age" "suffix" ".age" $config)))
     (joinPath $config.data.encryptedHostDir ".config" "pip" (print "pip.conf" (dig "gpg" "suffix" ".asc" $config))) }}
{{- includeTemplate "_host-overlay_merge.tmpl" (dict
     "chezmoi" $.chezmoi
     "config" $config
     "baseConfig" $baseConfig
     "hostPlainFiles" $hostPipConfigFiles
     "hostEncryptedFiles" $hostEncryptedPipConfigFiles
     "format" "ini"
     "omitKeys" (list "DEFAULT")
     "debug" $debug
   ) }}
