# Get editor completions based on the config schema.
"$schema" = 'https://starship.rs/config-schema.json'

# Replace the default '❯' symbol in the prompt with '$'.
[character]
success_symbol = '[\$](bold green)'
error_symbol = '[\$](bold red)'
